body {
  background-color: black !important;
  color: white !important
}

.badge {
  width: auto;
  height: 1.5rem;
  border-radius: 25px;
  margin-right: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red !important;
}

/* 
Navigation 
*/
.nav-item {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  ;
}

.nav-item:hover {
  color: red;
}

/* 
Banner
*/
.banner {
  height: 600px;
  display: flex;
  align-items: center;
}

.banner::before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 600px;
  content: '';
  background: linear-gradient(to right, rgba(0, 0, 0, 0.849), transparent)
}

.banner-info {
  width: 40%;
  margin-left: 30px;
  z-index: 1;
}

/* 
Movie Card
*/
.movie-card {
  width: 300px;
  height: 200px;
}

.movie-card-badges {
  margin-left: 2px;
}

.movie-card-overlay {
  opacity: 0;
  width: 100%;
  height: 100%;
}

.movie-card-overlay:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.596);
}

/* 
Movie Detail
*/
.movie-detail-container {
  margin-top: 4rem;
  width: 70%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.trailer {
  margin: 0 10px;
  padding: 25px 0;
}

.detail-cotent-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: pink; */
  margin: 0 1px;
}

.detail-box--wrap {
  width: 100%;
  border-bottom: 1px solid white;
  margin: 0 10px;
  padding: 25px 0;
  /* background-color: yellow; */
}

.movie-detail-poster {
  width: 100%;
}

.detail-row-box {
  margin-bottom: 15px;
}

.detail-badge {
  width: 100px;
  height: 20px;
  background-color: blue;
}

/* 
Review
*/
.false,
.recommend-false {
  display: none;
}

.true {
  border: 3px solid white;
}

.recommend-true {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-show-btn-true {
  background-color: red;
  color: white;
  font-weight: bold;
  width: auto;
  margin-right: 5px;
  /* resize: none !important;
  overflow: auto !important;
  outline: none; */
  box-shadow: none !important;
}

.detail-show-btn-false {
  /* background-color: white; */
  font-weight: bold;
  width: auto;
  margin-right: 5px;
  /* resize: none !important;
  overflow: auto !important;
  outline: none; */
  box-shadow: none !important;
}

.detail-show-btn-true:hover {
  background-color: red;
  color: white;
}

.detail-show-btn-false:hover {
  background-color: white;
  color: red;
}

.box {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  width: 100%;
  margin: 20px;
}

/* 
Recommend Card
*/

.recommend-card-col {
  margin: 5px 0;
  overflow: hidden !important;
  text-align: center;
}

.recommend-card-img {
  width: 100%;
}

.test {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.recommend-card {
 width: 533px;
 height: 300px;
 padding: 0px !important;
 margin: 10px;
 background-size: cover; 
 background-repeat: no-repeat;
 background-position: center;
}

.overlay {
  opacity: 0;
  width: 100%;
  height: 100%;
  /* background-color: pink; */
  padding: 40px;
}

.overlay:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.596);
}

